.container {
    width: 70%;
    background-color: grey;
    height: 100%;
    padding-top: 50px;
}
.body {
height: 100%;
}
.jumbotron{
    border-radius:0px!important;
    box-shadow:1px 1px 4px rgba(0,0,0,0.4);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
}
body {
    position: relative;
}
div#wrapper {
    width: 75%;
    margin: 0 auto;
    height: 100%;
}
.img-responsive {
    margin: 0 auto;
}
#myCarousel{
    width: 60%;
    margin: 0 auto;
}
.navbar-inverse .navbar-nav>li>a{
  color: white;
}
.projectImages .img-responsive{
  margin: 0 auto;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  background-color: transparent;
}
.nav-tabs>li>a,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
  color: #fff ;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  border-style: solid;
  border-radius: 5px;
  border-color: #fff;
  background-color: transparent;
}
.top_page{
  width: 100%;
  height: auto;
}
.bitmoji_section {
  width: 100%;
  text-align: center;
}
.bitmoji_section img {
    align-self: center;
    width: auto;
}
.nav nav-tabs{
  color: #fff;
}
.top_buttons {
  width: 100%;
  text-align: center;
  opacity: 30%;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
#HomepageButtons{
  background-color: rgba(255,255,255,.1);
  border-color: black;
  font-family:"Courier New";
  color: black;
}
.fa {
    padding:20px;
    font-size: 40px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color:#EEEEEE;
    color: #7F7F7F;
}
.fa:hover {
    opacity: 0.7;
}
#Icons{
  text-align: center;
  padding-bottom: 10px;
}
#mail{
    text-align: center;
    padding-top: 10px;
  }
#mail a {

    color:#2A31FF;
}
p{
  text-align: center;
}
h2{
  font-family: "Courier New";
  text-align: center;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color:black;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.contactForm {
    border-radius: 5px;
    background-color: #EDEDEE;
    padding: 20px;
    color: black;
}
.modal-body{
  color: black;
}
.modal-title{
  color: green;
  text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(odd){
  background-color: #7F7F7F;
}
tr:nth-child(even){
  background-color: #7F7F7F;
}
.card-link{
  color:#474e5d;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #7F7F7F;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.tcontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.tcontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #7F7F7F;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.leftSide {
    right: 0.5%;
}
.rightSide {
    left: 50.5%;
}
.leftSide::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #7F7F7F;
}
.rightSide::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #7F7F7F transparent transparent;
}
.rightSide::after {
    left: -16px;
}
.content {
    padding: 20px 30px;
    background-color: #7F7F7F;
    position: relative;
    border-radius: 6px;
}
@media all and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  .tcontainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .tcontainer::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .left::after, .right::after {
    left: 15px;
  }
  .right {
    left: 0%;
  }
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color:white;
}
.custom-bullet li {
    display: block;
}
.custom-bullet li:before
{
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: white;
}

#Home {padding-top:50px; height:100%; color: #fff; background-color: #c9bcbc;}
#About {padding-top:50px; padding-right: 20px; padding-left: 20px; height:100%;color: #fff; background-color: inherit;}
#Education {padding-top:50px;height:100%;color: black; background-color: inherit;}
#Projects {padding-top:50px; padding-right: 20px; padding-left: 20px; height:100%;color: #fff; background-color:#7F7F7F }
#Contact {padding-top:50px;height:100%;color: #fff; background-color: inherit;}
#MapSection{padding-top:20px; padding-bottom:30px;height:550px;color: #fff; background-color: inherit;}
#Experience{padding-top:50px;height:100%;color: #fff; background-color: inherit;}
